crewai
crewai-tools
crewai[google-genai]
langchain
langchain-pinecone
langchain-groq
langchain-google-genai
langchain-core
langchain-cohere
langchain-community
fastapi
python-dotenv
pydantic
uvicorn
pinecone
langchain-google-genai
serpapi
duckduckgo-search
slowapi
pytrends
ddgs
pandas
beautifulsoup4
requests
starlette
